@import "~@material/react-button/index";
@import '~@material/react-top-app-bar/index';
@import '~@material/react-material-icon/index';
@import '~@material/react-drawer/index.scss';
@import '~@material/react-switch/index.scss';
body {
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  width: 100vw;
}

:root {
  --mdc-theme-primary: brown
}

.unselectable {
  user-select: none;
}


.color-teal {
  color: teal
}

.drawer-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
}

.drawer-app-content {
  flex: auto;
  overflow: auto;
}

.top-app-bar-fix-adjust {
  display: flex;
  width: 100%;
}